.search_gauge_type div{
	float:left;
	overflow: hidden;
	width: 80px;
	height: 30px;
	margin-right: 13px;
	padding-top: 5px;
	font-size:13px;
}
.gauge-time div {
	float: left;
	height: 25px;
	width:80px;
	margin-right: 13px;
	padding-top: 5px;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	font-family: verdana;
	color: #005aa0;
	font-size:13px;
}

.gauge-top-search {
	font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 14px;
	color:black;
}
.search_gauge_type a{
	color:#337ab7;
}
.search_gauge_type span {
	color:#666;
}
.gauge-time a{
	color:#337ab7;
}
.gauge-time span {
	color:#666;
}
.gauge-filter {
	border: 1px solid #ddd;
	margin-top: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}
.gauge-order {
	font-size:13px;
}
.gauge-order a {
	color:#337ab7;
}
.order_selected {
	background-color:#337ab7;
} 
.order_selected a {
	color:white;
}
.gauge-order span {
	color:#666;
}

.gauge-order .order div {
	float:left;
	width:70px;
	border:1px solid #337ab7;
	margin:10px;
	margin-top:5px;
	box-shadow: 0.5px 0.5px #337ab7;
}
.gauge-order .order span {
	margin:10px;
	margin-top:5px;
}
.gauge-order .order {
	text-align:center;
}
.gauge-order .pager {
	margin: 15px 0;
	margin-top: 15px;
	margin-bottom: 10px;
}

.gauge-top-search a {
	cursor: pointer;
}
.gauge-filter a {
	cursor:pointer;
}
.gauge-order a {
	cursor:pointer;
}

.drop_confirm {
	display:none;
}

.drop_confirm_show {
	display:block;
}

.float_water {
	background: #fff;
	display: block;
	border: 3px solid rgb(238, 238, 238);
	width: 373px;
	padding: 10px;
}

.float_water_title {
	text-align: center;
	background-color: #3277b3;
}
.float_water_title span {
	font-size: 16px;
}
.float_water_btn_r {
	text-align: center;
}