@CHARSET "UTF-8";
.header {
	height: 65px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
	border-bottom: 1px solid #ADADAD;
	padding:0;
}
.logo {
	
}
.content_body {
	width:1024px;
	margin:0 auto;
	padding-top:30px;
}

.login-pannel {
	width: 300px;
	margin-left: 40px;
	float: left;
	border: 1px solid #ddd;
	padding: 21px 29px;
}
.login_content {
	font-family: arial;
	font-size: 12px;
}
.login_content input {
	width:100%;
}
